/* ViewProfilePage.css */

.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(120deg, #f6f7f8, #ebf0f5);
  min-height: 100vh;
}

.profile-header {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 20px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-details {
  flex-grow: 1;
}

.profile-details h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.rating svg {
  margin-right: 5px;
}

.profile-details p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}

.send-request-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0073b1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.send-request-button:hover {
  background-color: #005582;
  transform: scale(1.05);
}

.profile-body {
  width: 100%;
  max-width: 1000px;
  margin-top: 20px;
  display: flex;
  overflow-x: auto;
  padding: 10px;
}

.profile-row {
  display: flex;
  gap: 20px;
}

.profile-row > div {
  flex: 1;
  min-width: 200px;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-row h3 {
  margin-bottom: 10px;
  color: #333;
}

.chat-section {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 300px;
  max-height: 400px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.chat-section.show {
  transform: translateY(0);
}

.chat-section h3 {
  margin-bottom: 10px;
  text-align: center;
  color: #0073b1;
}

.chat-box {
  padding: 10px;
  border-top: 1px solid #ccc;
}

.chat-icon {
  position: fixed;
  bottom: 25px;
  right: 25px;
  font-size: 24px;
  color: #0073b1;
  cursor: pointer;
  transition: transform 0.3s;
}

.chat-icon:hover {
  transform: scale(1.2);
}